.masonry {
  column-gap: 30px;
  column-fill: initial;
}

.masonry .brick {
  margin-bottom: 30px;
  display: inline-block; /* Fix the misalignment of items */
  border: black 2px solid;
  text-align: center;
  padding: 10px 0px;
  border-radius: 5px;
}

.masonry a {
	padding: 10px;
	margin: 0px;
	font: bold 20px arial, sans-serif;
	color: grey;
	text-decoration: none;
}

.masonry a:hover {
	color: black;
}

.masonry .brick img {
  transition: all .5s ease-in-out;
  backface-visibility: hidden; /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
  opacity: .75;
}

.dash-title {
	font: bold 24px arial, sans-serif;
}

.dash-footer {
	font: bold 14px arial, sans-serif;
}